<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>82475884008-phu8j6as35iot6to4l9r2mbr01r8qqrs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.82475884008-phu8j6as35iot6to4l9r2mbr01r8qqrs</string>
	<key>API_KEY</key>
	<string>AIzaSyD0xZ8nXm9Ywak9xmADPwUrd6Hs13Ox5Gk</string>
	<key>GCM_SENDER_ID</key>
	<string>82475884008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.drewmudry</string>
	<key>PROJECT_ID</key>
	<string>instagram-a635b</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-a635b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:82475884008:ios:1c038367bc7551e48ed85d</string>
</dict>
</plist>